---
layout: default
title: About
section_id: about
skills:
  - title: Web Design
    percentage: 84
  - title: Web Development
    percentage: 95
  - title: Site Management
    percentage: 70
  - title: Branding
    percentage: 61
educations:
  - name: University of Washington, Seattle, WA | 2015 - 2019
    detail: Bachelor of Science, Mechanical Engineering 
experiences:
  - title: Mechanical Engineer Coop | Philips Healthcare, Bothell, WA | Apr. 2019 - present
    p1: Work on Class III medical device automatic external defibrillator (AED) product development under FDA regulated industry in a team-based environment
    p2: Conduct research to test the feasibility and performance of equipment and components for new product introduction (NPI) activities
    p3: Update the structural design of products and critical component drawings to meet modern standards and quality transformation
    p4: Design receiving inspection tools including Go No-Go gauges for patient cable wire overhang, button nest fixtures and test control apparatus to support supplier quality CAPA
    p5: Write and review verification and test protocols to support remediation and regulatory audit
  - title: Undergrad Researcher | UW Vibration Lab, Seattle, WA | June. 2018 - Mar. 2019
    p1: Supervised in diagnostic tool to evaluate stability of dental implants
    p2: Analyzed dynamic motion of piezoelectric sensor and actuator with signal analyzer and laser doppler
    p3: Evaluated theoretical vibration motion by performing finite element analysis in ANSYS and further compared with experimental results in MATLAB
    p4: Designed experiments and built fixture to reduce electrical and mechanical interference and greatly improved the repeatability of experimental results
  - title: Research Assistant | UW Bio-Robotics Lab & Harborview Medical Center WISH Lab, Seattle, WA | Jan. 2018 – Mar. 2019
    p1: Conducted experiment about VR surgery tracking aiming to proof the feasibility of VR surgery tracking by comparing with two other well-developed surgery tracking systems Medtronic and Stryker
    p2: Designed experiments, constructed lab equipment, and software development
    p3: Supported cadaver and dry test by keeping accurate records of experimental data and analysis in MATLAB
    p4: Present data and findings to UW Medicine Surgeons, researchers and UW professors
---

<div class='full parallax' style='background-image: url(images/@stock/about-us.jpg); color: #fff;'>
</div>

<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Skill Set" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-3 columns panel'>
      <h3>CAD & FEA</h3>
      <span class='label radius'>SolidWorks</span>
	  <span class='label radius'>AutoCAD</span>
	  <span class='label radius'>HyperWorks</span>
	  <span class='label radius'>Fusion 360</span>
	  <span class='label radius'>Inventor</span>
	  <span class='label radius'>ANSYS (FEA)</span>
	  <span class='label radius'>Abaqus (FEA)</span> 
	</div>
	<div class='medium-3 columns panel'>
      <h3>Software</h3>
      <span class='label radius'>MATLAB</span>
	<span class='label radius'>C</span>
	<span class='label radius'>Labview</span>
	<span class='label radius'>Minitab</span>
	</div>
	<div class='medium-3 columns panel'>
      <h3>Engineering Skills</h3>
      <span class='label radius'>CAD</span>
	<span class='label radius'>FEA</span>
	<span class='label radius'>DFMEA</span>
	<span class='label radius'>GD&T</span>
	<span class='label radius'>DoE</span>
	<span class='label radius'>Mechanical Test & Simulation</span>
	<span class='label radius'>Design Control</span>
	<span class='label radius'>Prototyping</span>
	<span class='label radius'>R&D</span>
	<span class='label radius'>DFM</span>
	</div>
	<div class='medium-3 columns panel'>
      <h3>Our history</h3>
      <span class='label radius'>Radius Label</span>
	</div>
  </div>
</div>

<!--div class='full'>
  <div class='row'>
    <div class='medium-3 columns'>
      <h3>Our history</h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
    </div>
    <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <p class='centered-text'>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div-->


<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Education" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for education in page.educations %}
                <div class='item'>
                  <p class='quote'>{{education.name}}</p>
                  <p class='author'>{{education.detail}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Coursework" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <span class='label radius'>Radius Label</span>
	  <span class='label radius'>Radius</span>
	  <span class='label radius'>Radius Label</span>
	  <span class='label radius'>Label</span>
	  <span class='label radius'>Radius Label</span>
	  <span class='label radius'>Radius Label</span>
    </div>
  </div>
</div>

<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Experience" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% for experience in page.experiences %}
          <h3>{{experience.title}}</h3>
	    <ul>
	      <li>{{experience.p1}}</li>
	      <li>{{experience.p2}}</li>
	      <li>{{experience.p3}}</li>
	      <li>{{experience.p4}}</li>
	      <li>{{experience.p5}}</li>
	    </ul>
          <div class='two spacing'></div>
      {% endfor %}
    </div>
  </div>
</div>

{% include our-customers.html %}
